<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="HistoryCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HistoryCleaner.Properties.Settings>
      <setting name="TargetKeys" serializeAs="Xml">
        <value>
          <ArrayOfRegistryKeyInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Local AppWizard-Generated Applications</KeyName>
              <Description>Visual C++ 6.0 の MFC AppWizard がデフォルトで使用するレジストリを削除</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Windows NT\CurrentVersion\TaskManager</KeyName>
              <Description>タスクマネージャの設定初期化 (Windows NT/2000/XP/Vista)</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Applets\Regedit</KeyName>
              <Description>レジストリエディタの設定初期化</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\RunMRU</KeyName>
              <Description>[ファイル名を指定して実行] の履歴を削除</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\ComDlg32</KeyName>
              <Description>ファイル選択ダイアログの履歴を削除 (Windows 2000/Me/XP/Vista)</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Notepad</KeyName>
              <Description>メモ帳の設定初期化</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Applets\Paint</KeyName>
              <Description>ペイントの設定初期化</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Applets\Wordpad</KeyName>
              <Description>ワードパットの設定初期化</Description>
            </RegistryKeyInfo>
            <RegistryKeyInfo>
              <KeyName>HKEY_CURRENT_USER\Software\Microsoft\Internet Explorer\PageSetup</KeyName>
              <Description>Internet Explorer の印刷ページ設定初期化</Description>
            </RegistryKeyInfo>
          </ArrayOfRegistryKeyInfo>
        </value>
      </setting>
    </HistoryCleaner.Properties.Settings>
  </userSettings>
</configuration>
